<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

  <% if notifications.exists? %>
  <%= ::Temple::Utils.escape_html_safe((render notifications)) %> 
  <%= ::Temple::Utils.escape_html_safe((paginate notifications)) %> 
  <% else %>
  <p> 通知はありません </p>

<% end %>